<div (click)="selectCustomer(customer)" [ngClass]="{selectedCustomer:customer.customerID === selectedCustomerID,deleted:isDeleted}" class="customer-card">

  <div class="customer-photos">
    <img src="../assets/photos/{{customer.photo}}" alt="">
  </div>
  <diV class="customer-details flex-column flex-spacebetween">

    <div class="customer-name">{{customer.name.first}} {{customer.name.last}}</div>
    <div class="flex-row flex-aligncenter">
      <div class="customer-gender male" *ngIf="customer.gender == 'm'">{{customer.gender}}</div>
      <div class="customer-gender female" *ngIf="customer.gender == 'w'">{{customer.gender}}</div>
      <div class="customer-dob">{{customer.birthday |  date}}</div>
    </div>
    <div class="customer-lifetime"> {{customer.customerLifetimeValue}} </div>
    <div class="flex-row flex-end">
      <!-- <div class="customer-interaction-icon">
        <img src="../assets/icons/edit.png" />
      </div> -->
      <div (click)="onDelete($event)" class="customer-interaction-icon">
        <img src="../assets/icons/delete.png" />
      </div>
    </div>

  </diV>
</div>